@import "../../styles/variables.scss";
.dataTable{
    .dataGrid{
        background: #fff;
        padding: 10px;
        border-radius: 10px;

        .MuiDataGrid-toolbarContainer{
            flex-direction: row-reverse;
        }

        img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
        .MuiDataGrid-columnHeaders{
            background: $primary-blue;
            color: #fff;
            font-family: 'Poppins';
            font-weight: 600;
        }
        .MuiDataGrid-virtualScrollerRenderZone{
            font-family: 'Poppins';
            color: $dark-bg;
            font-weight: 400;
        }
    }
}