// BG
$main-bg: #090516;
$soft-bg: #1d192cc7;
$dark-bg: #0b0916;

// Text
$main-color: white;
$soft-color: #ddd;
$dark-color: #090516;
$primary-blue:  #1879b9;
$grey: #6f7478;
$dark-blue: #203647;
$primary-alert: #DF2935;

// Size
$main-size: calc(100vh - 111.11px - 33.33px);
